
:root{
  --Maine-color :#F06207	;
  --body-color: lightgray;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F5F5;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.container{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Start Landing Page */

.landing-page{
  background-image: url(../image/img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  position: relative; 
  color: var(--body-color);


  
}
.landing-opcity{
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0.1;
}
/* Start Header */
.header{
  width: 100%;
  position: relative;
  display: flex;
  z-index: 1;
  color: black;
  background-color: #F5F5F5;
  font-family: 'Aboreto', cursive;
  justify-content: space-around;


}
.header .header-one{
  width: 85%;
  display: flex;
  align-items: center ;
  
}
.header .logo{
  width: 25%;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
}
.header .logo span{
  color: var(--Maine-color);
  font-size: 20px;
  font-weight: 900;
}
.header .list-ul{
  list-style: none;
  width: 75%;

}
.header .list-ul li {
  display: inline-block;

}
.header .list-ul li a{
  text-decoration: none;
  margin-left: 13px;
  color: black;
}
.header .list-ul li .active,
.header .logo span,
.header .list-ul li a:hover{
  color: var(--Maine-color);
  font-weight: bold;
  font-size: 20px;
}
.header .header-tow{ 
  width: 15%;
  display: flex;
  margin: 15px;
}
.header .header-tow .culm{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-tow .culm .Explore{
  cursor: pointer;
  position: relative;
  font-size: 25px;
}
.header .header-tow .culm .Explore-on{
  background-color: #F5F5F5;
  visibility: hidden ;
  width: 600px;
  height: 430px;
  position: absolute;
  top: 68px;
  right: 3px;  
  box-shadow: 1px 0px 40px rgb(0 0 0 / 40%);
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.header .header-tow .culm .Explore-on .Explore-colum .list-ul-media{
  color: #000;
  font-weight: bold; 
}
.header .header-tow .culm .Explore-on .Explore-colum:first-child{
  
}
.header .header-tow .culm .Explore-on .Explore-colum:nth-child(2){
  border-left: 1px solid var(--body-color);

}
.header .header-tow .culm .Explore-on .Explore-colum:nth-child(3){
  border-left: 1px solid var(--body-color);

}
.header .header-tow .culm .Explore-on .Explore-colum p{
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 18px;
}
.header .header-tow .culm .Explore-on .Explore-colum a{
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #000;

}
.header .header-tow .culm .Explore-on .Explore-colum a:hover{
  background-color: var(--body-color);
}
.header .header-tow .culm .icon{
  margin-left: 15px;
}
.header .header-tow .culm .notifications{
  position: relative;
  cursor: pointer;

}
.header .header-tow .culm .Explore-on .Explore-colum .Explore-colum-icon{
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.header .header-tow .culm .Explore-on .Explore-colum .Explore-colum-icon .Exo{
  font-size: 20px;
  opacity: 0.6;
}
.header .header-tow .culm .Explore-on .Explore-colum .Explore-colum-icon .Exo:hover{
  opacity: 1;
  cursor: pointer;
}
.header .header-tow .culm .notifications .notifications-on{
  background-color: #F5F5F5		;
  width: 400px;
  position: absolute;
  height: 400px;
  top: 43px;
  right: 0px;
  z-index: 0.4;
  visibility: hidden ;
  overflow-y: scroll;  
  box-shadow: 1px 0px 40px rgb(0 0 0 / 40%);

}
.header .header-tow .culm .notifications .notifications-on div{
  width: 100%;
  text-align: center;
  background-color: #F5F5F5;
  margin-top: 20px;
}

.header .header-tow .culm img{
  margin-left: 15px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.header .header-tow .culm .profile:hover{
  color: var(--Maine-color);
  cursor: pointer;
}
.header .header-tow .btn{
  text-align: center;
  width: 50%;
}
.header .log-in{
    font-family: 'Aboreto', cursive;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: #02be6e;
    color: #fff;
    border-radius: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.header .log-in:hover{
background-color: var(--Maine-color);
}
@media (min-width:997px) {
  .header .header-tow .culm .Explore-on .Explore-colum .list-ul-media{
    display: none;
  }
  
}
@media (max-width: 997px) {
  .header .list-ul{
    display: none;
  }
  .header .header-tow .culm .Explore-on{
    height: 550px;
  }
  .introduction-text .Search div input {
    width: calc(90% - 30px);
  }
  .introduction-text .Search div button{
    width: 10%;
  }
 
}
@media (max-width: 767px) {
  .header .header-tow .culm .Explore-on{
    display: block;
    width: 390px;
    height: 500px;
    overflow-y: auto;
  }
  .header .header-tow{
    margin-right: 40px;
  }
}  
@media (max-width: 550px) {
  .header .header-one{
    width: 50%;
  }
  .header .header-tow{
    width: 50%;
  }
  .header .header-tow .culm .notifications .notifications-on {
    width: 390px;
    right: -166px;
  } 
  .introduction-text .Search div input {
    width: calc(85% - 30px);
  }
  .introduction-text .Search div button{
    width: 15%;
  }
 
}
/* End Header */
/* Start introduction text */
.introduction-text{
  position: absolute;
  width: 100%;
  height: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0.2;
  text-align: center;
  color: var(--body-color);
}
.introduction-text h2{
  font-weight: bold;
  font-size: 35px;
}
.introduction-text h1 span{
  color: var(--Maine-color);
}
.introduction-text .p-a{
  font-size: 17px;
  line-height: 1.6;
}
.introduction-text .Search{
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
}
.introduction-text .Search div{
  width: 70%;
  position: absolute;
}
.introduction-text .Search  input {
  width: calc(91.4% - 15px);
  height: 60px;
  padding: 0 15px 0 15px;
  border: none;
  font-size: 22px;
  right: 0;
  position: absolute;
  border-radius: 0 10px 10px 0;
}
.introduction-text .Search  input:focus{
  outline: none;
}
.introduction-text .Search button{
  width: 7%;
  height: 60px;
  font-size: 22px;
  border: none;
  background-color: #fff;
  position: absolute;
  left: 0;
  border-radius: 10px 0 0 10px;
  
}
.introduction-text .Search  button i{
  font-size: 22px;
  cursor: pointer;
}
.introduction-text .Search  button i:hover{
  color: gray;
}

/* End introduction text */
/* Start settings Box */

.setting-box{
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: #F5F5F5;
  z-index: 3;
  top: 0;
  left: -200px;
  transition: 0.3s;

}
.open{
  left: 0;
}
.setting-box .icon-box{
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 100px;
  cursor: pointer;
  background-color: #F5F5F5;
  border-radius: 0 15px 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.setting-box  .change-color{
  margin-top: 50px;
  text-align: center;

}
.setting-box  .change-color h3{
  color: dimgray;
  font-size: 25px;

}
.setting-box  .change-color .ul-color{
  list-style: none;
  margin-right: 38px;

}
.setting-box  .change-color .ul-color li{
  width: 17px;
  height: 17px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 7px;
}
.setting-box  .change-color .ul-color .active{
  border: 2px solid #fff;

}
.setting-box  .change-color .ul-color li:first-child{
  background-color: #1B4F72;
}
.setting-box  .change-color .ul-color li:nth-child(2){
  background-color: #21618C;
}
.setting-box  .change-color .ul-color li:nth-child(3){
  background-color: #2874A6;
}
.setting-box  .change-color .ul-color li:nth-child(4){
  background-color: #2E86C1;
}
.random-background{
  text-align: center;
    color: dimgray;
}


.random-background .click-random .yes,
.random-background .click-random .no{
  background-color: gray;
  width: 50px;
  display: inline-block;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}
.random-background .click-random .active{
  background-color: var(--Maine-color);
}
/* End settings Box */

/* End Landing Page */
/* Start Maine */
main{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 15px;
}
main .culom{
  max-width: 25%;
  flex: 25%;
 }
main .culom .image-main {
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}

@media (max-width: 800px) {
  main .culom{
    flex: 50%;
    max-width: 50%;
  }
}
@media (max-width: 600px) {
  main .culom{
    flex: 100%;
    max-width: 100%;
  }
}
main .culom .image-main .form-imge{
  position: absolute;
  width: 100%;
  height: 45px;
  bottom: 2px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  background: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent);
}
main .culom .image-main .form-imge .imag-icon{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
main .culom .image-main:hover .form-imge{
  opacity: 1;
}
main .culom .image-main .form-imge .imag-icon i{
  margin-left: 15px;
  color: #fff;
  opacity: 0.9;
  
}
main .culom .image-main .form-imge .imag-icon i:hover{
  opacity: 1;
}
.main-button{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-button button{
  padding: 10px;
  width: 168px;
  background-color: var(--Maine-color);
  color: #fff;
  border: none;
  border-radius: 15px;
  opacity: 0.7;
  
}
.main-button button:hover{
  opacity: 1;
  cursor: pointer;
}
/* End Maine */
/* Start Information */
.information{
  text-align: center;
  margin: 100px 50px 100px 50px;

}
.information p{
  line-height: 40px;
    opacity: 0.7;
}
.information a{
  text-decoration: none;
  color: blue;

}
/* End Information */
/* Scroll Top */
.scroll-top i{
  position: fixed;
  bottom: 60px;
  right: 10px;
  font-size: 35px;
  opacity: 0.7;
  z-index: 5;
  animation: movebtn 2s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  cursor: pointer;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
    color: rgb(62, 58, 58);
  }
  10%{
    transform: translateY(0.5px);
    color: rgb(62, 58, 58);

  }
  20% {
    transform: translateY(1px);
    color: rgb(62, 58, 58);
    opacity: 0.3;
  }
  30% {
    transform: translateY(1.5px);
    color: rgb(62, 58, 58);
    opacity: 0.350;
  }
  40% {
    transform: translateY(1px);
    color: rgb(62, 58, 58);
    opacity: 0.3;
  }
  50% {
    transform: translateY(0.5px);
    color: rgb(62, 58, 58);

  }
  60% {
    transform: translateY(0px);
    color: rgb(62, 58, 58);
  }
  70% {
    transform: translateY(-0.5px);
    color: rgb(62, 58, 58);
  }
  80% {
    transform: translateY(-1px);
    color: rgb(62, 58, 58);
    opacity: 0.3;
  }
  90% {
    transform: translateY(-.5px);
    color: rgb(62, 58, 58);
    opacity: 0.350;
  }
  100% {
    transform: translateY(0px);
    color: rgb(62, 58, 58);
    
  }
}
/* Scroll Top */